.guide {
    max-width: 1200px;
    margin: 5rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    color: #777;

    &-dark {
        background-color: #777;
        color: #fff;
    }

    h4 {
        margin-bottom: 0;
    }

    ul, p {
        margin: 0;
    }

    li {
        list-style-type: none;
        margin-right: 1rem;
      

        &::after{
            content: ',';
        }
        &:last-child::after{
            content: '.';
        }
    }
}
